* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

h2{
    left: 50%;
    transform: translateX(-50%);
}

.container-custom{
    width:100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* MAIN IMAGE SECTION */

.main-image{
    width: 100%;
    height: 80vh;
}

.item{
    height: 100%;
    position: relative;
}


.card-overlay{
    opacity: 0.25;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.25);
    overflow: hidden; 
    backdrop-filter: blur(5px);
    transition: all.25s; 
    border-radius: 0 0 0 5px;
}

.main-image:hover .card-overlay {
    opacity: 1; 
}

.card-overlay h5{
    font-size: 15px;
    padding-top: 10px;
}
.card-overlay p{
    font-size: 10px;
    width: 75%;
}

/* THUMBNAILS SECTION */

.item img, .thumbsnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.thumbsnails{
    width: 100%;
    height: 20vh;
    object-fit: cover;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.thumbsnail{
    width: calc(100% / 5);
}

.prev,
.next {
    background-color: rgba(110, 110, 110, 0.5);
    cursor: pointer;
    position: absolute;
    z-index: 100;
    font-size: 15px;
    top: 10%;
    transform: translateY(-50%);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    color: rgba(255, 255, 255, 0.5);
    display: flex; 
    justify-content: center; 
    align-items: center;
    transition: background-color .5s, color .5s, height .25s, width .25s, font-size .25s
}
.prev{
    left: 10px;
    transform: rotate(270deg);
}
.next{
    right: 10px;
    transform: rotate(270deg);
}

.thumbsnails:hover .prev,.thumbsnails:hover .next {
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 1);
}

.prev:hover,
.next:hover {
    height: 22.5px;
    width: 22.5px;
    font-size: 12.5px;
}


/* SELECTED BORDER */
.borderCustom{
    border: 2px solid white;
}


@media screen and (min-width:576px) {
    .container-custom{
        width:80%;
    }

    .main-image{
        width: 70%;
        height: 60vh;
    }

    .thumbsnails{
        width: 30%;
        height: 60vh;
        object-fit: cover;
        display: block;
        position: relative;
    }
    
    .thumbsnail{
        height: calc(100% / 5);
        width: 100%;
    }

    .card-overlay{
        border-radius: 0 0 0 5px;
    }
    .item img{
        border-radius: 5px 0 0 5px;
    }

    .prev,
    .next {
    background-color: rgba(110, 110, 110, 0.5);
    cursor: pointer;
    position: absolute;
    z-index: 100;
    font-size: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    color: rgba(255, 255, 255, 0.5);
    display: flex; 
    justify-content: center; 
    align-items: center;
    transition: background-color .5s, color .5s, height .25s, width .25s, font-size .25s
}
    .prev{
        top: 5px;
    }
    .next{
        top: auto;
        bottom: 5px;
    }
}